@model WebApp.Areas.Admin.Models.NhanVienGiaoHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NhanVienGiaoHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HinhDaiDien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhDaiDien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoTenNVGiao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTenNVGiao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiDung.MatKhau)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaNVGiao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
