@model WebApp.Areas.Admin.Models.HoaDon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ngaylap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ngaylap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KhachHang.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KhuyenMai.Tenkhuyenmai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
