@model WebApp.Areas.Admin.Models.TinTuc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TinTuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HinhDaiDien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhDaiDien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tentieude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tentieude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NhanVienQuanLi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NhanVienQuanLi.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChuDe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChuDe.MoTa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaTinTuc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
