@model IEnumerable<WebApp.Areas.Admin.Models.TinTuc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HinhDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tentieude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienQuanLi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuDe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HinhDaiDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tentieude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVienQuanLi.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuDe.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTinTuc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTinTuc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTinTuc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
