@model IEnumerable<WebApp.Areas.Admin.Models.ChiTietHoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thanhtien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thanhtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDon.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCTHD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCTHD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCTHD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
