@model IEnumerable<WebApp.Areas.Admin.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HinhDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTenNVBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HinhDaiDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenNVBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.MatKhau)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNVBan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNVBan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNVBan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
