@model WebApp.Areas.Admin.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NCC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NCC.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
